.nav-underline {
  --bs-nav-link-font-size: 1.5rem;
}

.bslib-card {
  .card-header, .card-footer {
    // font-size: 1.5rem;
    // background-color: #282c34;
  }
  .card-body {
    // font-size: 1.5rem;
    // background-color: #484d59;
    hyphens: auto;
  }
}

body { 
  // background-color: $body-bg;
}

.bslib-page-sidebar > .navbar {
  background-color: green;
  // color: var(--bslib-page-sidebar-title-color);
}

.navbar {
  .navbar-inner {
    background-color: #2c2c2c;
    background-image: none;
  }
}

.sen-pos-max{background: #009392;}
.sen-pos-med{background: #39b185;}
.sen-pos-min{background: #9ccb86;}
//.sen-neu{background: #f0f0f0;}
.sen-neu{background: #e9e29c;}
.sen-neg-min{background: #eeb479;}
.sen-neg-med{background: #e88471;}
.sen-neg-max{background: #cf597e;}
.bubble{
    float: left;
    padding: 1.5px;
    border-radius: 0;
    color: #000000;
    position: relative;
    // font-size: 15px;
    // line-height: 17px;
}

.accordion-title {
  width: 100%;
}


.my-legend {
    .legend-title {
        text-align: left;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 90%;
    }
    .legend-scale ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
    }
    .legend-scale ul li {
        display: block;
        float: left;
        width: 50px;
        margin-bottom: 6px;
        text-align: center;
        font-size: 80%;
        list-style: none;
    }
    ul.legend-labels li span {
        display: block;
        float: left;
        height: 15px;
        width: 50px;
    }
    .legend-source {
        font-size: 70%;
        color: #999;
        clear: both;
    }
    a {
        color: #777; 
    }
}

/*
.button-report  {
  @extend .button-basic;
  background-color: red;
}

.button-submit  {
  @extend .button-basic;
  background-color: green;
  color: white;
}
*/
